
<%= render(LesliView::Layout::Container.new("calendar-calendar")) do %>

    <% content_for(:application_lesli_javascript) do %>
        <%= javascript_include_tag("lesli_assets/calendar.js", :defer => "defer") %>
    <% end %>

    <%= render(LesliView::Components::Header.new(Date2.new.date_words)) do %>
        <div class="field has-addons m-0">
            <div class="control">
                <%= render LesliView::Elements::Button.new("Prev", icon:"arrow_back_ios") %>
            </div>
            <div class="control">
                <%= render LesliView::Elements::Button.new("Today", icon:"today") %>
            </div>
            <div class="control">
                <button @click="storeCalendar.nextMonth()" class="button is-primary is-light is-outlined">
                    <span>Next</span>
                    <span class="icon">
                        <span class="material-symbols">
                            arrow_forward_ios
                        </span>
                    </span>
                </button>
            </div>
        </div>
        <%= render LesliView::Elements::Button.new("Add event", icon:"add", solid: true, dispatch:"panel") %>
    <% end %>

    <%= render("lesli_calendar/partials/calendar") %>
<% end %>

<%= render(LesliView::Components::Panel.new("Create new event", :overlay => true)) do %>
    <%= form_for(@event, builder: LesliView::Forms::Builder) do |form| %>
        <%= form.field_control(:title) %>
    <% end %>
<% end %>
