<p id="notice"><%= notice %></p>

<h1>Event Subscribers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_subscribers.each do |event_subscriber| %>
      <tr>
        <td><%= link_to 'Show', event_subscriber %></td>
        <td><%= link_to 'Edit', edit_event_subscriber_path(event_subscriber) %></td>
        <td><%= link_to 'Destroy', event_subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Subscriber', new_event_subscriber_path %>
