<p id="notice"><%= notice %></p>

<h1>Calendar Activities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendar_activities.each do |calendar_activity| %>
      <tr>
        <td><%= link_to 'Show', calendar_activity %></td>
        <td><%= link_to 'Edit', edit_calendar_activity_path(calendar_activity) %></td>
        <td><%= link_to 'Destroy', calendar_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendar Activity', new_calendar_activity_path %>
