<p id="notice"><%= notice %></p>

<h1>Event Discussions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_discussions.each do |event_discussion| %>
      <tr>
        <td><%= link_to 'Show', event_discussion %></td>
        <td><%= link_to 'Edit', edit_event_discussion_path(event_discussion) %></td>
        <td><%= link_to 'Destroy', event_discussion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Discussion', new_event_discussion_path %>
