<p id="notice"><%= notice %></p>

<h1>Calendar Files</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendar_files.each do |calendar_file| %>
      <tr>
        <td><%= link_to 'Show', calendar_file %></td>
        <td><%= link_to 'Edit', edit_calendar_file_path(calendar_file) %></td>
        <td><%= link_to 'Destroy', calendar_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendar File', new_calendar_file_path %>
