<p id="notice"><%= notice %></p>

<h1>Event Subscriptions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_subscriptions.each do |event_subscription| %>
      <tr>
        <td><%= link_to 'Show', event_subscription %></td>
        <td><%= link_to 'Edit', edit_event_subscription_path(event_subscription) %></td>
        <td><%= link_to 'Destroy', event_subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Subscription', new_event_subscription_path %>
