<p id="notice"><%= notice %></p>

<h1>Event Actions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_actions.each do |event_action| %>
      <tr>
        <td><%= link_to 'Show', event_action %></td>
        <td><%= link_to 'Edit', edit_event_action_path(event_action) %></td>
        <td><%= link_to 'Destroy', event_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Action', new_event_action_path %>
