<p id="notice"><%= notice %></p>

<h1>Event Attendants</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_attendants.each do |event_attendant| %>
      <tr>
        <td><%= link_to 'Show', event_attendant %></td>
        <td><%= link_to 'Edit', edit_event_attendant_path(event_attendant) %></td>
        <td><%= link_to 'Destroy', event_attendant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Attendant', new_event_attendant_path %>
