<template>
    <% if @tabs_granted["calendars"] %>
        <%= navigation_vue_item("/driver") do %>
                <i class="fas fa-calendar-alt"></i>
                <span><%= I18n.t("driver.shared.sidebar_nav_calendar") %></span>
        <% end %>
    <% end %>
    <% if @tabs_granted["event_types"] %>
        <b-menu-item>
            <template slot="label" slot-scope="props">
                <i class="fas fa-book-open"></i>
                <span><%= I18n.t("driver.shared.sidebar_nav_catalogs") %></span>
                <b-icon class="is-pulled-right" :icon="props.expanded ? 'caret-down' : 'caret-right'"></b-icon>
            </template>
            <% if @tabs_granted["event_types"]%>
                <li>
                    <%= navigation_vue_item(cloud_driver.event_types_path) do %>
                        <i class="fas fa-list"></i>
                        <span><%= I18n.t("driver.shared.sidebar_nav_event_types") %></span>
                    <% end %>
                </li>
            <% end %>
        </b-menu-item>
    <% end %>
</template>

<template v-slot:settings>
    <% if @tabs_granted["workflows"]%>
        <li>
            <%= navigation_vue_item(cloud_driver.workflows_path) do %>
                <i class="fas fa-project-diagram"></i>
                <span><%= I18n.t("core.shared.sidebar_nav_workflows") %></span>
            <% end %>
        </li>
    <% end %>
</template>
